# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Python packages
*.egg-info/
.eggs/
build/
dist/

# IDEs
.vscode/
.idea/
